.leftSideComponent {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content:end;
}
<<<<<<< HEAD
=======

>>>>>>> c5082654393e34bf1b7880e190c07ea2ab941226
/* .rightSideComponent {
    border: 2px solid red;
} */
.childleftSideComponent {
    /* border: 2px solid blue;
     */
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding-top:65px;

}

#signin{
    font-size:2rem;
    font-weight:600;
    color: #4a4a4a; 
}
form{
    /* border: 2px solid red; */
    margin-top: 30px;
}
.requiredfields {
    color: red;
    font-size: 12px;
   
}
.emailfeild {
    width: 446.65px;
    height: 70px;
    background: FFFFFF;
    padding: 15px;
    
}
.passwordfield {
    width: 446.65px;
    height: 70px;
    margin-top: 10px;
    padding: 15px;
}

.signincontainer {
     /* border: 2px solid red;  */
     display: flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
    
}
.emailaddress{
    margin-bottom: 10px;
    font-weight: 300;
    
}
.password{
    margin-top: 20px;
    font-weight: 300;

}

.forgot{
    text-decoration: none; 
    background-color: transparent;
    color: #1f355e;
    margin-top: 40px;
   
}
.signinbutton {
    background-color: #3e818a; 
     font-size:1rem;
     font-weight:700;  
     width:250px ;
     height:60px ;
    color: #ffffff;;
    background-color: #3e818a; 
    cursor: pointer;
    border: none;
    text-transform:uppercase;
   
}
.signinbutton:hover{
    background-color:#24345B;
    
}

.emailaddress::before{
  content:"*";
  color: red;
}
.password::before{
    content:"*";
    color: red;
}
.form-action{
    /* border: 2px solid salmon; */
     height:30vh;
     display: flex;
     flex-direction:column; 
     align-items: center;
     margin-top: 70px;
}