.leftSideComponent {
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: end;
}
/* .rightSideComponent {
    border: 2px solid red;
} */
.childleftSideComponent {
    border: 2px solid blue;
    height: 100vh;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#signin{
    font-size:30px;
    letter-spacing: 2px;
    padding-bottom: 0px;
    color: #4a4a4a;
    display: inline-block;
    font-weight: 600;
    margin: 0px; 
 
}
.requiredfields {
    color: red;
    font-size: 12px;

}
.emailfeild {
    width: 446.65px;
    height: 70px;
    background: FFFFFF;
    padding-bottom: 10px;
    margin-bottom: 100px;

}
.passwordfield {
    width: 446.65px;
    height: 70px;
    padding-bottom: 10px;
    margin-bottom: 150px;
}

.signincontainer {
     border: 2px solid red; 
     display: flex;
    align-items: center;
    justify-content: space-between;
    width: 446.65px;
    margin-bottom:15px;
    padding-bottom:50px;
}
.emailaddress{
    margin-bottom: 10px;
}
.password{
     margin-bottom: 10px;

}


.signinbutton {
    background-color: #3e818a;
}

.forgot{
    text-decoration: none; 
}